@import url("https://fonts.googleapis.com/css?family=Lato");

body {
  background: url("../public/imgs/background_tile.png") repeat;
  margin: 0;
  color: #fff;
  font-family: "Lato", sans-serif;
  text-align: center;
  justify-content: center;
  min-width: 850px;
}

.communal-container,
.results-container {
  position: relative;
  display: block;
  border: 0.2rem solid;
  border-radius: 1rem;
  margin: 1rem;
  overflow: auto;
  white-space: nowrap;
  max-width: 88rem;
  min-height: 8rem;
}

.table-containers,
.results-container {
  /* display: flex; */
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1.5rem 0;
}

.communal-container {
  margin-top: 0;
}

.results-container {
  width: 40rem;
  min-height: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.table-card-containers {
  border: 0.2rem solid;
  border-radius: 1rem;
  margin: 0 1rem;
  min-height: 10.8rem;
  min-width: 12rem;
  padding: 0.3rem 0.5rem;
}

.table-card-containers:nth-child(2) {
  min-width: 18rem;
}

button {
  color: white;
  font-size: 0.8rem;
  background: none;
  border: 0.2rem solid white;
  border-radius: 1rem;
  padding: 0.3rem;
  margin: 0.3rem;
  min-width: 12rem;
  outline: none;
  cursor: pointer;
}

button.active-button {
  color: rgb(43, 83, 54);
  background: white;
}

img {
  width: 5rem;
  height: auto;
  margin: 0.4rem;
  cursor: pointer;
}

.results-container p {
  font-size: 1.2rem;
}
